#img-container{
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#img-container img{
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}
#filme-detalhe{
    size: 20px;
}
#tela{
    color: rgb(0, 0, 0);
    text-align: center;
}
html{
    height: 100%; 
}
 

body{
    background-color: rgb(255, 255, 255);
}

body, ul, li, p{
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header a{
    text-decoration: none;
    color: white;
}


header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(81, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

.logo{
    color: white;
    text-decoration: none;
}

.menu{
    display: flex;
    margin-left: -1%;
}

.menu li{
    list-style: none;
    margin-left: 10px;
    margin-top: 13%;
}


img{
    max-width: 100%;
    display: block;
}

main{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}

main h3{
    color: white;
    margin-left: 2%;
    padding: 1%;
    word-spacing: 3px;
    line-height: 30px;
}

hr{
    background-color: white;
    width: 80%;
}

#flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}



#flex > div{
    flex: 1 1 200px;
    margin: 30px;
}



.footer{
    color: white;
    background-color: rgb(81, 0, 0);
    min-height: 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.footer-text{
    margin-top: 1%;
    margin-left: 40%;


}